* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
  height: 100vh;
}

form {
  border: 1px solid black;
  text-align: center;
  padding: 20px;
  line-height: 80px;
}
